<!-- include header-->
    <%- include('../include/header') %>
    <title>Login</title>
</head>
<!-- end header-->
<body>
<!-- include navbar-->
    <%- include('../guest/navbarguest') %>
<!-- end navbar-->
<% if ( messages.alert ){ %>
    <script>
        alert("<%= messages.alert %>");
    </script>
<% } %>
<main class="content">
    <section>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card login">
                        <div class="card-header blue navbar-dark" id="card-header">
                            <ul class="nav nav-tabs card-header-tabs  nav-justified">
                                <li class="nav-item ">
                                    <a class="nav-link active" href="#" id="studentLink">Student Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white border border-0" href="#" id="staffLink">Staff Login</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <form id="studentLogin" action="/login/studentLogin" method="post">
                                <h4 style="text-align: center;">Student Login</h4>
                                <div class="form-group">
                                    <label for="studentusername">Username</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend ">
                                            <span class="input-group-text blue"><i class="fas fa-user text-white"></i></span>
                                        </div>
                                        <input type="text" class="form-control" autocomplete="on" id="studentusername" name="username" placeholder="Enter username" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="studentpassword">Password</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend ">
                                            <span class="input-group-text blue"><i class="fas fa-lock text-white"></i></i></span>
                                        </div>
                                        <input type="password" class="form-control" id="studentpassword" name="password" placeholder="Enter password" required>
                                    </div>
                                </div>
                                <button type="submit" class="btnlogin btn blue">Login</button>
                            </form>
                            <form id="staffLogin" action="/login/staffLogin" method="post" >
                                <h4 style="text-align: center;">Staff Login</h4>
                                <div class="form-group">
                                    <label for="staffusername">Username</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text red"><i class="fas fa-user text-white"></i></span>
                                        </div>
                                        <input type="text" class="form-control" autocomplete="on" id="staffusername" name="username" placeholder="Enter username" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="staffpassword">Password</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text red"><i class="fas fa-lock text-white"></i></i></span>
                                        </div>
                                        <input type="password" class="form-control" id="staffpassword" name="password" placeholder="Enter password" required>
                                    </div>
                                </div>
                                <button type="submit" class="btnlogin btn red">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    $(document).ready(function() {
        $('#studentLink').click(function(e) {
            e.preventDefault();
            $("#staffLink").removeClass("active").addClass("text-white border border-0");
            $("#studentLink").removeClass("text-white border border-0").addClass("active");
            $("#card-header").removeClass("red").addClass("blue");
            $("#guestnavbar").removeClass("red").addClass("blue");

            fadeOutAndSwitch('#staffLogin', '#studentLogin');
        });

        $('#staffLink').click(function(e) {
            e.preventDefault();
            $("#studentLink").removeClass("active").addClass("text-white border border-0");
            $("#staffLink").removeClass("text-white border border-0").addClass("active");
            $("#card-header").removeClass("blue").addClass("red");
            $("#guestnavbar").removeClass("blue").addClass("red");
            
            fadeOutAndSwitch('#studentLogin', '#staffLogin');
        });
    });

    function fadeOutAndSwitch(oldFormSelector, newFormSelector) {
        $(oldFormSelector).css('opacity', '0'); // fade out the old form
        setTimeout(function() { // wait for the fade out animation to complete
            $(oldFormSelector).hide(); // hide the old form after animation
            $(newFormSelector).css('opacity', '0'); // set opacity of new form to 0
            $(newFormSelector).show(); // show the new form
            setTimeout(function() { // wait for a bit before fading in
                $(newFormSelector).css('opacity', '1'); // fade in the new form
            }, 12); // this delay ensures a smoother transition between forms
        }, 60); // 60ms matches the duration of the CSS transition
    }
</script>
<!-- include footer-->
    <%- include('../include/_footer') %>
<!-- end footer-->
