/* global style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
/* Custom styles for the navbar */
.red {
    background-color: #f35c4b; /* Theme color */
}
.blue {
    background-color: #3498db; /* Theme color */
}
.navbar-brand {
    color: #ffffff; /* Text color for the logo */
}
.navbar-brand.logo{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.navbar-nav .nav-link {
    color: #ffffff; 
}
.navbar-nav .nav-link:hover {
    color: #000000; 
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
    font-family: 'Poppins', sans-serif;
}
html, body {
    height: 100%;
}
/* End Custom styles for the navbar */
/* login form styles*/
#staffLogin {
    display: none;
}
.btnlogin {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.btn.blue {
    background-color: #3498db;
    color: white;
}
.btn.red {
    background-color: #f35c4b;
    color: white;
}
.card-body {
    transition: opacity 0.3s ease-in-out;
}
/*end login form styles*/
/* search bar guest */
#guestSearch.pc{
    width: 400px;
}
button.navbar-toggler.navbar-dark:focus{
    border: none;
    outline: none;
    color: white;
}
button.navbar-toggler.navbar-dark{
    border: none;
    outline: none;
    color: white;
}
/* end search bar guest */
/* admin */
.edit,
.delete,
.reset {
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease; /* Add transition for smooth color change on hover */
}
/* end admin */
.btn {
    border: none;
    cursor: pointer;
}