
<nav class="navbar red navbar-expand-lg navbar-dark" id="staffnavbar">
    <a class="navbar-brand logo" href="/"><h2>Parcel Management</h2></a>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link staffnavbar" style="color: #ffffff;" id="staffhomenav" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link staffnavbar" style="color: #ffffff;" id="staffaddparcelnav" href="/addparcel">Add Parcel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link staffnavbar" style="color: #ffffff;" id="staffparcellistnav" href="/parcelList">Parcel List</a>
            </li>
            <li class="nav-item dropdown ">
                <a class="nav-link staffnavbar profilestaffname dropdown-toggle" href="#" style="color: #ffffff;" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= session.staff.username %>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/report">Report</a>
                    <a class="dropdown-item" href="/staffsetting">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

